
.name{
    color:lime ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.grid img{
    border: solid;
    border-radius: 40px;
}
.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

